h3, .h3 { background-color: transparent; background-image: none; color: #00f974; }
h1, h3, .h3 { border-bottom: 3px solid #43e0ef; }
h1:after, h3:after, .h3:after { display: none; }
.placeholder { color: #ddd; }